.floater {
  display: none;
  @include sm-max {
    width: 100%;
    display: block;
    position: fixed;
    bottom: -16px;
    z-index: 100;
    transition: max-height 200ms ease-in, bottom 150ms ease-in;
    height: auto;
    max-height: 0;

    &.floaterActive {
      max-height: unset;
      bottom: 0;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    background: var(--product-heading-background);
    color: var(--product-heading-text-color);

    &__bestSeller {
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      @include sm-max {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__productName {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-decoration-line: underline;
      color: var(--product-heading-text-color);
      margin-left: 8px;
      border-left: 1px solid #fff;
      padding-left: 8px;
      @include sm-max {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__index {
      background: var(--product-index-background);
      color: var(--product-index-text-color);
      padding: 2px 18px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      height: 100%;
      @include sm-max {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__content {
      padding: 0 8px;
      display: flex;
      align-items: center;
    }
  }

  &-body {
    background: #fff;
    padding: 8px 8px 14px 8px;
    display: flex;
    justify-content: space-between;
    @include xs-max {
      padding: 8px;
      display: grid;
      gap: 24px;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr;
      justify-content: space-between;
    }

    &__seperator {
      width: 1px;
      height: 100%;
      grid-column: 2/3;
      grid-row: 1/3;
      background: #f2f2f2;
    }

    &__rating {
      display: flex;
      align-items: baseline;
      gap: 4px;
    }

    &__image {
      width: 40px;
      height: 40px;
      grid-column: 1/2;
      grid-row: 1/3;

      &--stars {
        grid-column: 3/4;
        grid-row: 1/2;
        height: 12px;
      }
    }

    &__content {
      display: grid;
      align-items: center;
      grid-template-columns: 40px 1px 1fr;
      grid-template-rows: repeat(2, 20px);
      column-gap: 8px;
    }

    &__text {
      color: #333;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      @include sm-max {
        font-size: 12px;
      }
    }

    &__button {
      min-width: 167px !important;
      width: auto !important;
    }

    @import "../components/buttons/main-cta";
  }
}
