.text-capitalize {
  text-transform: capitalize;
}
.text-bold {
  font-weight: 700;
}
.text-uppercase {
  text-transform: uppercase;
}
.padding-none-mobile {
  @include sm-max {
    padding: 0 0 !important;
  }
}

.lh-24 {
  line-height: 24px;
}
