$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1200px,
        xxl: 1400px,
);

:root {
  --white-1: #ffffff;

  --black-1: #000000;

  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;

  --blue-sapphire: #19688f;
  --dark-cerulean: #134f6d;
  --ultramarine-blue: #295bf3;

  --green-cyan: #009463;
  --green-munsell: #00b67a;
  --green-pigment: #00ba56;
  --spanish-green: #009947;

  --pastel-red: #f76969;

  --harvest-gold: #dd9302;
}
