@mixin flex($row, $align) {
  display: flex;
  flex-direction: $row;
  align-items: $align;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
}
#pilot {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #cce0eb;
  padding-top: 3rem;
  margin-top: 2rem;
  .footer-container {
    max-width: 120rem;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #777;
    padding: 2rem;
    a {
      color: #4089c3;
      text-decoration: none;
      &:visited {
        color: #4089c3;
        text-decoration: none;
      }
    }
    &-links {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      justify-content: center;
      flex-wrap: wrap;
      a {
        font-weight: bolder;
        color: #4089c3;
        text-decoration: none;
        &:visited {
          font-weight: bolder;
          color: #4089c3;
          text-decoration: none;
        }
      }
    }
  }
}
#obi {
  font-family: "Poppins", sans-serif !important;

  .footer-container {
    max-width: 114rem;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: rgb(119, 119, 119);
    padding: 1.5rem;
    a {
      color: #4089c3;
      text-decoration: none;
      &:visited {
        color: #4089c3;
        text-decoration: none;
      }
    }
    &-links {
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      a {
        color: #000;
        text-decoration: none;
        &:visited {
          color: #000;
          text-decoration: none;
        }
      }
    }
    &-text {
      padding: 0rem 2rem 3rem;
      font-weight: 400;
    }
  }
}

#geshi {
  font-family: "Montserrat", serif;

  .footer-container {
    background-color: rgb(52, 52, 52);
    max-width: 200rem;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #777777;
    padding: 1.5rem 0;
    a {
      color: #0084fd;
      text-decoration: none;
      &:visited {
        color: #0084fd;
        text-decoration: none;
      }
    }
    &-links {
      max-width: 120rem;

      padding: 2rem 2rem 0;
      margin: auto;
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      a {
        font-weight: bold;
        color: #0084fd;
        text-decoration: none;
        &:visited {
          font-weight: bold;
          color: #0084fd;
          text-decoration: none;
        }
      }
    }
    &-text {
      padding: 0 2rem;
      font-weight: 400;
      max-width: 120rem;
      margin: auto;
      padding: 0 2rem 2rem;
    }
  }
}
#nutra {
  font-family: "Open-Sans", sans-serif !important;
  padding: 3rem 0;
  .footer-container {
    max-width: 114rem;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #777;
    padding: 2rem;
    a {
      color: #337ac3;
      text-decoration: none;
      &:visited {
        color: #337ac3;
        text-decoration: none;
      }
    }
    &-links {
      display: flex;
      flex-direction: row;
      column-gap: 3rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      a {
        font-weight: bold;
        color: #337ac3;
        text-decoration: none;
        &:visited {
          font-weight: bold;
          color: #337ac3;
          text-decoration: none;
        }
      }
    }
    &-text {
      padding: 0rem 2rem 3rem;
      font-weight: 400;
    }
  }
}

#listicle-legals {
  padding: 4rem 2rem;
  .legals-container {
    padding: 0;
    max-width: 76.8rem;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
    p {
      color: #333;
      line-height: 3rem;
    }
    a {
      text-decoration: none;
    }
  }
}
#listicle-footer {
  max-width: 126rem;
  margin: auto;
  color: white;
  padding: 4rem 1rem;
  @include flex(row, center);
  @media screen and (max-width: 750px) {
    @include flex(column, flex-start);
    padding: 0;
  }
  font-size: 1.6rem;
  .footer-text {
    flex-basis: 50%;
    text-align: left;
    @include flex(column, flex-start);
    margin: 1rem;
    img {
      max-width: 20rem;
    }
  }
  .footer-menu {
    padding-right: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    flex-basis: 50%;
    @include flex(column, center);
    row-gap: 1rem;
    align-items: flex-end;
    @media screen and (max-width: 750px) {
      align-items: flex-start;
    }
    text-align: start;
    font-size: 1.6rem;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
    &-links {
      &:nth-child(1) {
        margin-top: 1rem;
      }

      text-align: start;
      margin-bottom: 1rem;
      text-decoration: none;

      font-size: 1.6rem;
    }
  }
}
.legals {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 3.2rem;
  &-container {
    padding: 1rem;
    color: #333333;
    max-width: 100rem;
    margin: 2.5rem auto 0;
    display: flex;
    flex-direction: column;
    .impressum {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    &-header {
      h1 {
        font-size: 3.6rem;
        text-align: center;
      }
    }
    &-main {
      font-size: 2.1rem;
      line-height: 3.15rem;
      font-weight: 400;
      margin: 0 0 1rem;
      line-height: 3.15rem;
      h2 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 2.1rem;
        line-height: 3.15rem;
        font-weight: 400;
        margin: 0 0 1rem;
      }
      ul {
        margin: 0 0 1rem;
        padding-left: 2rem;
      }
      a {
        text-decoration: none;
        color: #4089c3;
        &:visited {
          text-decoration: none;
          color: #4089c3;
        }
      }
    }
    &-links {
      padding-bottom: 3rem;
      padding-top: 2rem;
      font-size: 2.1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 2rem;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        color: #4089c3;
        &:visited {
          text-decoration: none;
          color: #4089c3;
        }
      }
    }
  }
}
