.product-card-withFlag {
  position: relative;
  margin-top: 32px;
  overflow: visible !important;
  border-width: 4px;
  @include sm-max {
    margin-top: 35px;
  }

  &__image {
    display: block;
    text-align: center;
    color: var(--text-link-color, #0769ed);
    text-decoration-color: var(--text-link-underline-color, #0769ed);;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline !important;

    img {
      width: 100%;
      max-width: 218px;
      margin-bottom: 24px;
      @include md-min {
        margin-bottom: 20px;
      }
    }

    &.mobile {
      padding-top: 24px;
      margin: 0 16px 24px;
      border-top: 1px solid #f2f2f2;
    }
  }

  &__wrapper {
    padding: 32px 24px;
    display: flex;
    @include sm-max {
      padding: 16px 16px;
    }
  }

  &__column-25 {
    width: 25%;
  }

  &__column-50 {
    width: 50%;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
  }

  &__column-p-16 {
    padding: 0 16px;
  }

  &__column-pl-16 {
    padding-left: 16px;
  }

  &__column-pr-16 {
    padding-right: 16px;
  }

  &__heading {
    color: var(--Gray-1, #333);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
    @include sm-max {
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }

  &__description {
    color: var(--Gray-2, #4f4f4f);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    a {
      text-decoration: underline;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    > p:not(:last-of-type) {
      margin-bottom: 24px;
    }

    > p:last-of-type {
      margin-bottom: 0px !important;
    }

    @include sm-max {
      margin-bottom: 24px;
      p:not(:last-of-type) {
        margin-bottom: 16px !important;
      }
    }
  }
}

.card-flag {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  left: 8px;
  background: var(--best-overall-flag-primary);
  width: 56px;
  height: 80px;
  @include sm-max {
    width: 48px;
    height: 48px;
  }

  &-tail {
    width: 100%;
    height: 32px;
    position: absolute;
    top: 72px;
  }

  &__index {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    @include sm-max {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 4px;
    height: 8px;
    border-left: 3px solid transparent;
    border-right: 1px solid var(--best-overall-flag-secondary);
    border-top: 1px solid transparent;
    border-bottom: 7px solid var(--best-overall-flag-secondary);
  }

  &:after {
    content: '';
    position: absolute;
    top: 64px;
    left: 0;
    border-left: 28px solid var(--best-overall-flag-primary);
    border-right: 28px solid var(--best-overall-flag-primary);
    border-bottom: 16px solid transparent !important;
    border-top: 16px solid var(--best-overall-flag-primary);
    @include sm-max {
      top: 36px;
      border-left: 24px solid var(--best-overall-flag-primary);
      border-right: 24px solid var(--best-overall-flag-primary);
      border-bottom: 12px solid transparent !important;
      border-top: 12px solid var(--best-overall-flag-primary);
    }
  }
}
