.hamburger {
	padding: 0;
	display: flex;
	background-color: var(--navbar-bg, #fff);

	.hamburger-box {
		width: 24px;

		.hamburger-inner {
			background-color: var(--nav-item-text, #4f4f4f);
			width: 24px;
			top: 4px;
			&::before,
			&::after {
				background-color: var(--nav-item-text, #4f4f4f);
				width: 24px;
			}
			&::before {
				top: 8px;
			}
			&::after {
				top: 16px;
			}
		}
	}

	&.is-active {
		.hamburger-inner {
			&::after {
				top: 20px;
			}
		}
	}
}
