&--cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 24px;
  border-radius: 15px;
  min-width: 210px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  gap: 12px;
  font-family: "Open Sans", sans-serif;

  &--floater {
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: center;
    @include sm-max {
      padding: 12px 21px !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      min-width: auto !important;
    }
    @include xs-max {
      padding: 12px 8px !important;
    }
  }

  @include sm-max {
    width: 100%;
  }

  &[theme="blue"] {
    background-color: #3933ea;
    box-shadow: 0 2px 0 0 #021a31;
    color: #ffffff;
    @media (pointer: fine) {
      &:hover {
        background-color: #002fdd;
      }
    }
  }

  &[theme="light_orange"] {
    background: #fba602;
    color: #000;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 0 0 #b85a12;
    @media (pointer: fine) {
      &:hover {
        background: #fdbb3a;
      }
    }
  }

  &[theme="pink"] {
    background: #fe23a1;
    box-shadow: 0 2px 0 0 #b51973;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    @media (pointer: fine) {
      &:hover {
        background: #fe3ead;
      }
    }
  }

  &[theme="red"] {
    background: #e80000;
    box-shadow: 0 2px 0 0 #a30000;
    color: #ffffff;
    @media (pointer: fine) {
      &:hover {
        background: #c80000;
      }
    }
  }

  &[theme="golden"] {
    background: linear-gradient(180deg, #ffd469 0%, #ff9017 100%);
    box-shadow: 0 2px 0 0 #cc6e00;
    color: #263a54;
    transition: 150ms ease-in;
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: opacity 150ms ease-in;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 58px;
      background: linear-gradient(180deg, #ffc533 0%, #e57800 100%);
    }

    @media (pointer: fine) {
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &[theme="orange"] {
    background: #ff6600;
    box-shadow: 0 2px 0 0 #b84900;
    color: #ffffff;
    @media (pointer: fine) {
      &:hover {
        background: #e15a00;
      }
    }
  }

  &[theme="green"] {
    background: #00b67a;
    box-shadow: 0 2px 0 0 #0b9e2e;
    color: #ffffff;
    @media (pointer: fine) {
      &:hover {
        background: #00ba56;
      }
    }
  }

  &[theme="custom"] {
    background: var(--product-cta-background);
    box-shadow: 0 2px 0 0 var(--product-cta-shadow-color);
    color: var(--product-cta-text-color);
    @media (pointer: fine) {
      &:hover {
        background: var(--product-cta-background-hover);
      }
    }
  }
}
