.questions {
  &__text {
    &-subheading {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-heading {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      padding-top: 8px;
    }

    &-innerTitle {
      font-size: 16px;
      line-height: 24px;
      color: var(--faq-primary-color);
      margin-left: 4px;
    }

    &-cardTitle {
      font-size: 20px;
      line-height: 24px;
      pointer-events: none;
      color: var(--faq-primary-color);
      margin-left: 0;
    }

    &-description {
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: var(--faq-secondary-color);
      margin-top: 4px;

      &--single {
        margin-top: 0px;

        p:not(:last-of-type) {
          margin-bottom: 24px;
        }

        p:last-of-type {
          margin-bottom: 0px !important;
        }
      }

      @include sm-max {
        font-size: 14px;
        line-height: 20px;
      }

      > p {
        margin-bottom: 16px;
      }

      > p:last-of-type {
        margin: 0 !important;
      }
    }

    &-link {
      color: #2f80ed;
      text-transform: capitalize;
    }
  }

  &__card {
    background-color: var(--faq-background-color);
    position: relative;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid var(--faq-card-border);
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: flex-start;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }

    @include sm-max {
      align-items: center;
    }
  }

  &__seperator {
    height: 1px;
    width: 100%;
    background: var(--faq-seperator-color);
    margin-bottom: 16px;
    margin-right: -24px;
  }

  &__image {
    &-icon {
      margin-right: 8px;
      position: relative;
      top: 4px;
    }
  }

  &__button {
    pointer-events: none;
    background: none;
    border: none;
    margin: 0;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transition: transform 300ms cubic-bezier(0.26, 0, 0.24, 0.99);

    &[expanded="true"] {
      transform: rotate(0deg);
    }
  }

  &__listWrap {
    grid-row: 2/3;
    grid-column: 1/3;
    transition: height 300ms cubic-bezier(0.26, 0, 0.24, 0.99);
    overflow: hidden;
    height: 0;
  }

  &__cardList {
    list-style: inside;
    padding-top: 16px;
    cursor: default;

    &-open {
      height: 100%;
    }
  }

  &__listItem {
    position: relative;
    display: flex;
    align-items: flex-start;

    ul {
      list-style: inside;
      cursor: default;

      li {
        line-height: 24px;
        font-size: 14px;
        font-weight: 400;
        color: #4f4f4f;
      }
    }
  }
}

.questions__listItem a {
  color: #2f80ed;
}

.questions__cards:not(:last-of-type) {
  margin-bottom: 16px;
}

.questions__cardList > .questions__listItem:not(:last-of-type) {
  margin-bottom: 16px;
}

.faq {
  max-width: 1032px;
  padding: 0 16px;
  margin: 24px auto;
  @include sm-max {
    margin: 16px auto 24px;
  }
}
