.footer {
	background-color: var(--footer-section-background-color);
	font-family: 'Open sans', sans-serif;
	&--sameColor {
		background-color: var(--footer-section-background-color);
		padding-top: 24px;
		@include sm-max {
			padding-top: 0px;
		}
	}
	&--content {
		color: var(--footer-disclaimer-text-color);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		padding: 24px 0 16px;

		> p:last-of-type {
			margin-bottom: 0px !important;
		}
		&--narrow {
			padding: 12px 13px;
			margin-bottom: 16px;
			border: 1px solid var(--footer-divider-color, #f2f2f2);
			@include sm-max {
				text-align: center;
				margin-top: 0;
			}
		}
	}

	&--menu {
		border-top: 1px solid var(--footer-divider-color, #f2f2f2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 0 16px;
		@include md-max {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&--narrow {
			padding: 16px 0;
		}

		&__logo {
			width: var(--logo-width-desktop);
			height: 24px;
			@include sm-max {
				width: var(--logo-width-mobile);
			}
			img {
				height: 100%;
			}
		}

		&__links {
			@include md-max {
				margin-top: 16px;
			}

			.menu-item {
				padding: 8px 0;

				a {
					color: var(--footer-link-text-color);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 24px;
					transition: color 150ms ease-in;
					&:hover {
						color: var(--footer-link-text-hover-color);
					}
					&:not(:hover) {
						text-decoration: none;
					}
				}
			}
		}
	}

	&--copyright {
		border-top: 1px solid var(--footer-divider-color, #f2f2f2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;
		@include sm-max {
			justify-content: center;
			flex-direction: column;
			padding: 16px 0 24px;
		}
		&--narrow {
			@include sm-max {
				padding: 16px 0 16px;
			}
		}

		.copyright {
			color: var(--gray-2, #4f4f4f);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 0;
			@include sm-max {
				font-size: 12px;
				order: 1;
			}
		}
		.copyright {
			color: var(--gray-2, #4f4f4f);
			font-family: Open Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 0;
			@include sm-max {
				font-size: 14px;
				text-align: center;
				order: 1;
			}
		}
		.toggle-button {
			margin-top: 0;
			@include sm-max {
				margin-bottom: 16px;
			}
		}
	}

	.link-padding {
		@include sm-max {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
	@import '../components/buttons/toggle';
}
