.header {
  .disclaimer {
    background-color: var(--header-bg, #134f6d);
    padding: 4px 0;
    @include md-max {
      display: none;
    }

    .container-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    * {
      color: var(--header-text, #ffffff);
      font-size: 12px;
      line-height: 16px;
    }

    a {
      &:not(:hover) {
        text-decoration: none;
      }
    }

    P {
      margin-bottom: 0;
    }
  }

  .navbar {
    background: var(--navbar-bg, #fff);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

    > .container-box {
      position: relative;
    }
    @import "../components/logo/_logo";
    // .logo {
    //   display: flex;
    //   align-items: center;
    //   max-height: 24px;
    //   @include sm-max {
    //     max-height: 20px;
    //   }

    //   img {
    //     height: 100%;
    //   }
    // }

    nav {
      position: relative;
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-items {
      position: absolute;
      left: 0;
      z-index: 10;
      width: 100%;
      background: var(--nav-item-bg, #fff);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 0 24px;

      &.hidden {
        display: none;
      }

      .nav-item {
        padding: 16px 0;
        text-align: center;
        &:not(:last-child) {
          border-bottom: 1px solid var(--gray-6, #f2f2f2);
        }

        a {
          color: var(--nav-item-text, #4f4f4f);
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          text-decoration: none;
          transition: color 300ms ease-in;

          &:hover {
            @media (pointer: fine) {
              color: var(--nav-item-hover);
            }
          }
        }
      }
    }
  }

  @import "../components/buttons/hamburger-settings";
}

.header-disclosure {
  background: var(--header-bg, #fff);
  border-bottom: 1px solid #e8e8e8;
  &__wrapper {
    padding: 8px 16px;
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm-max {
      padding: 8px 16px;
    }
  }
  &__logo {
    max-width: var(--logo-width-desktop);
    height: 32px;
    width: fit-content;
    @include sm-max {
      max-width: var(--logo-width-mobile);
      height: 20px;
    }
  }
  &__link {
    font-size: 12px;
    line-height: 16px;
    color: var(--header-text);
    font-weight: 400;
    text-decoration: none;
    transition: color 300ms ease-in;
    &:hover {
      color: #333;
    }
  }
}
