.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px 24px;
    grid-column-gap: 40px;
    border-radius: 10px;
    border: 2px solid #232f3e;
    background: #fff;

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        padding: 16px;
    }

    &__left {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-between;
        margin-bottom: 32px;

        a {
            @media only screen and (max-width: 767px) {
                width: 50%;
            }
        }

        &--image {
            max-height: 120px;
            max-width: 120px;

            @media only screen and (max-width: 767px) {
                width: 100%;
                margin: 0 auto;
            }
        }

        &--review-text {
            @media only screen and (max-width: 767px) {
                width: 50%;
                border-left: 1px solid #f2f2f2;
                padding-left: 26px;
            }
        }
    }

    &__product {
        display: flex;
        flex-direction: column;
    }

    &__ratings {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &--text {
            color: #333;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
        }

        &--number {
            color: #333;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
        }

        &--icon {
            margin: 4px auto;
        }

        &--evaluation {
            text-align: center;
            color: #4f4f4f;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
        }

        &--reviews {
            color: #828282;
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            word-break: break-all;
        }
    }
    &__assesment {
        display: flex;
        flex-direction: column;

        &--container {
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        &--description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 4px;
        }

        &--text {
            color: #333;
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
        }

        &--score {
            color: #333;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
        }

        &--bar {
            background-color: #e0e0e0;
            border-radius: 2px;
            height: 12px;
            margin: 0 20px 0 0;
            position: relative;
            width: 100%;
            margin-bottom: 8px;
        }

        &--bar-fill {
            background-color: #00b67a;
            border-radius: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
        }
    }

    &__tooltip {
        width: fit-content;
        margin: 0 auto;
    }

    &__text {
        &--headline {
            color: #333;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 8px;
        }

        &--paragraph {
            color: #4f4f4f;
            font-family: "Open Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        &--discount {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            gap: 8px;
            @include xs-max {
                gap: 4px;
			}
        }

        &--limited {
            color: #cc0c0c;
            text-align: center;
            font-family: "Open Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }

        &--label {
            padding: 4px 8px;
            align-items: center;
            gap: 4px;
            border-radius: 5px;
            background: #cc0c0c;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            &:hover {
                color: #fff;
            }
        }

        @import "../components/buttons/main-cta";

        &--cta {
            margin: 16px 0 22px 0;
            display: flex;
            padding: 20px 24px !important;
            align-items: center;
            line-height: 24px;
            text-transform: none;
            gap: 6px;
        }
    }

    .card-flag {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 8px;
        background: var(--best-overall-flag-primary);
        width: 48px;
        height: 48px;
        top: -8px !important;
        padding: 8px !important;

        &__index {
            font-size: 26px;
            font-weight: 700;
            line-height: 32px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 38px;
            left: 0;
            border-left: 24px solid var(--best-overall-flag-primary);
            border-right: 24px solid var(--best-overall-flag-primary);
            border-bottom: 12px solid rgba(0, 0, 0, 0) !important;
            border-top: 12px solid var(--best-overall-flag-primary);
        }
    }
}
