.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fafafa;

    &__score {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        background-color: #fff;
        padding: 8px;
        width: 100%;

        &--heading {
            color: #333;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
        }

        &--rating {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            color: #333;
        }

        &--evaluation {
            color: #4f4f4f;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
        }

        &--reviews {
            color: #828282;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 2px 0 0 0;
        }
    }

    &__ratings {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        &--description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 4px;
        }

        &--text {
            color: #333;
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
        }

        &--score {
            color: #333;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
        }

        &--bar {
            background-color: #e0e0e0;
            border-radius: 2px;
            height: 12px;
            margin: 0 20px 0 0;
            position: relative;
            width: 100%;
            &:not(:last-of-type) {
                margin-bottom: 8px;
            }

            &-fill {
                background-color: #00b67a;
                border-radius: 2px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        .sidebar__list--item:not(:last-of-type) {
            margin-bottom: 4px;
        }

        &--pros {
            color: #00b67a;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
        }

        &--item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            // margin-bottom: 4px;
        }

        &--pros-text {
            color: #4f4f4f;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }

        &--cons {
            color: #f76969;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            margin-top: 8px;
        }

        &--cons-text {
            color: #4f4f4f;
            font-size: 16px;
            font-weight: 400;
        }

        @import "../components/buttons/main-cta";

        &--cta {
            margin-top: 8px;
        }
    }
}
